<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edgy Clothing - Product Page</title>
    <link rel="stylesheet" href="style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1>Street wear</h1>
            <nav>
                <a href="homepage.html">Home</a>
                <a href="login.html">login</a>
                <a href="contact.html">Contact</a>
                <a href="about.html">About</a>
                <script src="script.js"></script>
                <a class= "social icon" href="https://www.instagram.com/mourn.corp/" target="_blank">
                <ion-icon name="logo-instagram"></ion-icon></a>
                <div class="icon-items">
                    <ion-icon name="cart-outline"></ion-icon>
                    <ion-icon name="heart-outline"></ion-icon>
                    <ion-icon name="person-circle-outline"></ion-icon>
                    <header class="header"></header>
                </div>
            </nav>
        </div>
    </header>

    <section class="product">
        <div class="container">
            <div class="product-info">
                <h2>Inspired T-Shirt</h2>
                <p class="price">$24.99</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero ac dui feugiat, sit amet ultricies lorem venenatis.</p>
                <button>Add to Cart</button>
            </div>
            <div class="product-image">
                <img src="tshirt.jpg" alt="Ed Hardy T-Shirt">
            </div>
        </div>
    </section>
<br>
    <footer>
           
        <p> 2024 Street Wear Clothing. All rights reserved.</p>
    </footer>
    <!-- Beta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</body>
</htm
